/** @define RegisterLogin; weak */

.RegisterLogin {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  max-width: 1199px;
  margin: 0 auto;

  &-registerSection {
    &--hide {
     display: none;
    }
  }
}

@media $min-tablet {
  .RegisterLogin {
    flex-direction: row;
    margin-bottom: 0;

    &-registerSection {
       flex: 1;
       margin-right: 20px;
    }
    &-loginSection {
       flex: 1;
       margin-left: 20px;
      &--noMargin {
         margin-left: 0;
      }
    }
  }
}
