# See http://help.github.com/ignore-files/ for more about ignoring files.

# project required
.env*
.npmrc

# project generated
.next
dist
es
node_modules
umd
lerna-debug.log
npm-debug.log*
docs/rfc/**/*.log
*.swp

# IDE generated
.idea
.vscode
.ctags
.history
[#]*[#]
*.sublime-project
*.sublime-workspace
*.rdb

# OS generated
.DS_Store
*~

# Vim swap/conf files
.*.swp
.*.swo
.*.swn
.*.swm
.tern-project
*.orig

# Specifies intentionally untracked files to ignore when using Git
.happypack/
.env-test-runner
.env-monitor
.tern-port
.#*
mock.json
dist/
dump.rdb
build-cache/
selenium-debug.log
stacks.out
it-coverage/
coverage/
.nyc_output/
.sonar-cache/
!test/reports/.gitkeep
test/e2e/screenshots/*
!test/e2e/screenshots/.gitkeep
test/e2e/dev.config.js
test/e2ev2/reports/
test/e2ev2/screenshots/
test/functional/cypress/videos
test/functional/cypress/screenshots
test/functional/cypress/output
test/functional/cypress/screenshots
jsconfig.json
scripts/lib/dns_record.json
newrelic_agent.log
packages/monty-feature-flags
public/*/styles.*.css
public/**/custom/**/*.css
public/*/*.*
public/generated-assets.json
public/common/*.map
public/common/bundle.*.js
public/common/bundle.js
public/common/vendor.*.js
public/common/vendor.js
public/common/service-desk.*.js
public/common/service-desk.js
public/common/shim.js
public/common/loader.js
public/webpack-manifest.json
infrastructure/.terraform/
infrastructure/*.tfstate*
build/webpack/plugins/generated-*.json
stats.json
test/e2e/**/*.log
/infrastructure/app_config.json
yarn.lock
version.json
wallaby.js
test-report.xml
scripts/complexity-reports/generated-reports

/local.log
errorShots/**

sonar-scanner-*
.scannerwork
test/reports/*
/googleauth.json
