NODE_ENV=development
REDIS_URL=tcp://monty_cache:6379
REDIS_HOST_FOR_SESSION_STORE=monty_cache
REDIS_PORT_FOR_SESSION_STORE=6379
BASIC_AUTH_ENABLED=false
JWT_SECRET=
USE_NEW_HANDLER=true
WCS_ENVIRONMENT=tst1
#MOCK_CMS_FORM_HANDLER=false
#CMS_TEST_MODE=false
MR_CMS_URL=cms-showcase.digital.arcadiagroup.co.uk
MR_CMS_PORT=443
MR_CMS_PROTOCOL=https
API_URL_COUNTRIES_V2=http://nonprodstore.api.arcadiagroup.co.uk/storestock/v2/countries
API_URL_STORE_LOCATOR_V2=https://nonprodstore.api.arcadiagroup.co.uk/storestock/v2/storestock
API_FIND_ADDRESS=https://qas.api.arcadiagroup.co.uk/qas/json
API_URL_COUNTRIES=https://nonprodstore.api.arcadiagroup.co.uk/storestock/countries
API_URL_STORE_LOCATOR=https://nonprodstore.api.arcadiagroup.co.uk/storestock/storestock
LEGACY_CMS_URL=stage-monty-scraper.digital.arcadiagroup.co.uk
LEGACY_CMS_PORT=443
LEGACY_CMS_PROTOCOL=https
GOOGLE_API_KEY=
#CI=false
#QUBIT_DISABLED=true
NPM_TOKEN=
#CORE_API_HOST=local.mock-server
#CORE_API_PORT=4000
WCS_REQUESTS_THROUGH_PROXY="false"
WCS_PROXY_PROTOCOL=
WCS_PROXY_USERNAME=
WCS_PROXY_PASSWORD=
WCS_PROXY_URL=
WCS_PROXY_PORT=
#DEBUG=false
#LOGGING_LEVEL=TRACE
