/** @define DeliveryOptionsSelect */

.DeliveryOptionsSelect {
  display: flex;
  flex-flow: row nowrap;
  width: 90%;
    &-dayButtonContainer {
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;
      width: 5.6%;
      cursor: pointer;
      align-items: center;
      font-size: 0.8em;
      min-width: 40px;
    }
    &-dateButton {
      padding: 8px 10px;
      text-align: center;
      background: #F8F8F8;
      border-radius: 50%;
      margin: 4px 0;
      font-weight: 600;

      &--selected {
        background: black;
        color: white;
      }
    }

    &-dayText {
      text-transform: uppercase;
    }

    &-monthText {
      font-size: 0.85em;
    }

    &-dayButtonContainer:nth-last-child(n + 4),
     &-dayButtonContainer:nth-last-child(n + 4) ~ &-dayButtonContainer {
      flex-basis: 25%;
    }
    &-dayButtonContainer:nth-last-child(n + 5),
     &-dayButtonContainer:nth-last-child(n + 5) ~ &-dayButtonContainer {
      flex-basis: 20%;
    }
    &-dayButtonContainer:nth-last-child(n + 6),
     &-dayButtonContainer:nth-last-child(n + 6) ~ &-dayButtonContainer {
      flex-basis: 16.6%;
    }
    &-dayButtonContainer:nth-last-child(n + 7),
     &-dayButtonContainer:nth-last-child(n + 7) ~ &-dayButtonContainer {
      flex-basis: 20%;
    }
}

@media $mobile {
  .DeliveryOptionsSelect {
    width: 100%;
    padding-left: 5px;
  }
}

@media only screen and (min-width: 992px) {
  .DeliveryOptionsSelect {
    width: 60%;
    &-dayButtonContainer {
      flex-basis: 25%;
    }
  }
}
