/** @define Categories */
@lost flexbox flex;

.Categories {
  &-listItem {
    position: relative;
    list-style-type: none;

    &:last-child > .ListItemLink {
      border-bottom: none;
    }
  }

  &-arrow {
    position: absolute;
    top: 50%;
    right: $navigation-item-padding-horizontal;
    height: $navigation-item-arrow-height;
    width: $navigation-item-arrow-width;
    margin-top: calc(-0.5 * $navigation-item-arrow-height);
    background: url("public/$brand/images/nav-arrow.svg") no-repeat center;
    background-size: contain;
  }
}
