/** @define ExpiredPassword */

.ExpiredPassword {
  margin: 10px auto 20px;
  padding: 0 $page-padding;
  max-width: 500px;
  &-form {
    padding: 0 $page-padding 10px;
  }
}

@media $min-tablet {
  .ExpiredPassword {
    &--signin {
      padding: 0 $page-padding;
      & .ExpiredPassword {
        &-form {
          padding: 0;
        }
      }
    }
  }
}

@media $min-laptop {
  .ExpiredPassword {
    &--signin {
      & .ExpiredPassword {
        &-accordion {
          width: 100%;
        }
      }
    }
  }
}