/** @define ForgotPassword */
.ForgotPassword {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding: 0 $page-padding ;

  &-cancel {
    border: none;
    text-decoration: underline;
  }
  &-form {
    padding: 0;
    margin: 0;
  }
}

@media $min-laptop {
  .ForgotPassword {
    &-inner {
      width: 660px;
    }
  }
}
