/** @define LoginRegister */

.LoginRegister {
  position: relative;
  box-sizing: border-box;
  margin-top: 20px;
  padding: 0 $page-padding;
  width: 100%;
  &-header {
    line-height: 1.18;
    margin: 0;
    font-size: 22px;
    font-weight: 100;
  }
  &-forgotPassword {
    position: absolute;
    right: $page-padding;
    z-index: 1;
  }
}

@media $min-laptop {
  .LoginRegister {
    width: 660px;
  }
}
