
/** @define PasswordCriteriaIndicator; weak */

.PasswordCriteriaIndicator {

  & p {
    margin-top: -10px;
    margin-bottom: 0;
  }

  & ul {
    margin-top: 5px;
    padding-left: 0;
    list-style: none;
  }

  &-listItem {
    margin-bottom: 2px;
    padding-left: 20px;
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-image: url("/assets/common/images/password-indicator-default.png");

    &--pass {
      background-image: url("/assets/common/images/password-indicator-pass.png");
    }

    &--fail {
      background-image: url("/assets/common/images/password-indicator-fail.png");
    }
  }
}
