/** @define ProductDetail; weak */

@media $min-tablet {
  .ProductDetail {
    &-sizeGuide--narrow {
      width: 25%;
      & .SizeGuide {
        &-link {
          width: 70px;
          float: right;
          position: relative;
          height: 25px;
          text-align: center;
          text-transform: uppercase;
          border: none;
        }
        &-label {
          position: absolute;
          left: 0;
          padding: 5px;
          bottom: 10px;
          line-height: 1.5;
          width: 100%;
          font-size: 10px;
        }
        &-icon {
          position: absolute;
          bottom: -5px;
          left: 17px;
          width: 38px;
        }
      }
    }
  }
}
