/** @define SocialProofOrderProductBadge */

.SocialProofOrderProductBadge {
  max-width: 112px;

  &--sellingFast {
    background: url('public/$brand/images/order-products-social-proof-badge.png') no-repeat;
    background-size: contain;
    width: 100%;
    height: 23px;
  }

  &--sellingFastImage {
    width: 100%;
    height: auto;
  }
}
